#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout geral */
body {
  background-color: #fafafa;
  color: #2c2c2c;
}

/* NavBar */
nav {
  background: rgb(236, 232, 236);
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  position: sticky;
}

nav .logo {
  height: 60px;
  border-radius: 16px;
  object-fit: cover;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: rgb(218, 103, 202);
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.2s;
}

nav ul li a:hover {
  opacity: 0.7;
}


.page-container {
  padding: 30px;
}


.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 20px;
}


.book-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.book-card:hover {
  transform: translateY(-4px);
}

.book-card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.book-card p {
  font-size: 0.95rem;
  margin-bottom: 8px;
  color: #555;
}

.book-card .price {
  font-weight: bold;
  margin-bottom: 10px;
}

.book-card button {
  background-color: #4c7a5a;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.book-card button:hover {
  background-color: #3ca39e;
}

/* Cart */
.cart-item {
  background: white;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}

.cart-item h4 {
  margin-bottom: 5px;
}

.cart-item p {
  font-size: 0.9rem;
  color: #555;
}

.logo {
  width: 80px;          
  height: 80px;
  border-radius: 50%;  
  object-fit: cover;    
  background: white;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.home-container {
  text-align: center;
  padding-top: 50px 30px;
}

.home-logo {
  width: 400px;
  border-radius: 20px;   
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}